@font-face {
	font-family: Poppins-Regular;
	src: url("../fuentes/Poppins-Regular.ttf");
}

body
{
	font-family: Poppins-Regular;
	color: #3c5b7b;
	background: #4681b5!important;
}

.producto_img
{
	width: 70px;
	border-radius: 11px;
}

.container
{
	margin-top: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
}

.detalle
{
	background: #343A40;
	color:white;
	padding:50px;
}

.detalle td p
{
	color:white!important;
}

.info
{
	background: white;
	
	padding:30px 50px;
}

.cantidad_productos
{
	padding: 0px 10px;
	background: #a900ff;
	position: absolute;
	top: 5px;
	left: 0px;
	border-radius: 15%;
}

.retiro
{
	margin-left: 50px;
}