@font-face {
	font-family: poppins;
	src: url("../fuentes/Poppins-Regular.ttf");
}

@font-face {
	font-family: poppins-bold;
	src: url("../fuentes/Poppins-Bold.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("../fuentes/Montserrat-Regular.ttf");
}

body
{
	font-family: Montserrat!important;
}

.titulo-pagina
{
	font-family: poppins;
	font-size: 1em;
}

.titulo-pagina-uy
{
	font-family: poppins;
	font-size: .7em;
	color:#2bcc68;
}

.brand-image
{
	margin-left: 0!important;
	width: 50px!important;
}

.brand-link
{
	line-height: 2.5!important;
}

.boton_eliminar_imagen
{
	position: absolute; 
	top:10px; 
	left: 20px; 
	opacity: .5;
	font-size: 2em;
	cursor: pointer;
}

.boton_eliminar_imagen:hover
{
	opacity: .8;
	color:red!important;
	transition: .3s;
}

.boton_imagen_principal
{
	position: absolute; 
	top:10px; 
	right: 20px; 
	opacity: .5;
	font-size: 2em;	
	cursor: pointer;
}

.boton_imagen_principal:hover
{
	opacity: .8;
	color:yellow!important;
}

.boton_imagen_principal.seleccionada
{
	position: absolute; 
	top:10px; 
	right: 20px; 
	opacity: .8;
	font-size: 2em;	
	cursor: pointer;
	color:yellow!important;
}

.contenedor_imagen_producto
{
	position:relative; 
	margin-bottom: 20px;
}

.imagen_producto
{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

	height: 100%;
    object-fit: cover;
    object-position: center;
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #17A2B8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #17A2B8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.modal_temas
{
	background: #343A40;
	color:white;
}

.modal_temas_link
{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff85;
	top:0;
	left:0;
	text-align: center;
	padding-top: 20%;
	color:white;
}

.modal_temas_link i
{
	padding:10px 20px;
	background: black;
	border-radius: 6px;
}

.modal_temas_link:hover
{
	opacity: 1;
	transition-timing-function: 1s;
}

.modal_plugins
{
	background: #343A40;
	color:white;
}

.modal_plugins_link
{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff85;
	top:0;
	left:0;
	text-align: center;
	padding-top: 50%;
	color:white;
}

.modal_plugins_link i
{
	padding:10px 20px;
	background: black;
	border-radius: 6px;
}

.modal_plugins_link:hover
{
	opacity: 1;
	transition-timing-function: 1s;
}

.btn_mover_imagen
{
	position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    padding-top: 50%;
    font-size: 5em;
    opacity: .5;
}

.btn_mover_imagen > i
{
	color: white;
}

.btn_mover_imagen:hover
{
	opacity: 1;
	cursor: pointer;
	transition: .3s;
}

.btn_mover_imagen_izquierda
{
	left: 0;
	padding-left: 8%;
}

.btn_mover_imagen_derecha
{
	right: 0;
	padding-left: 30%;
}